<h1>Hello</h1>

<%= 1 + 1 %>

<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>
<%= n %><br />
<% end %>

<br />

<a href= "/demo/index">Index page</a><br />

<%= link_to('Index page', {:action => 'index'}, :target => "_blank")  %>